.logo {
	position: absolute;
	width: 130px;
}

.nav-wrapper {
	width: 100%;
	top: 0%;
	z-index: 1;
}

header {
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	padding-bottom: 3em;
}
