.logo {
	position: absolute;
	width: 130px;
}

.nav-wrapper {
	width: 100%;
	top: 0%;
	z-index: 1;
}

header {
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;
	align-content: center;

	padding-bottom: 3em;
}

@media (max-width: 576px) {
	.header{
		align-self: flex-end;
	}
	.logo{
		display: none;
	}
}
