@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
nav {
	background-color: rgba(0, 0, 0, 0);
}

.nav-link-seperator {
	/* border-right: 1px solid black; */
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.165em;
}

header {
	height: calc(100vh - 3.5rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sample {
	height: 500px;
	background-color: aqua;
}

section {
	width: 60%;
	height: 60%;
	border: 1px solid black;
	border-radius: 50px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imageHolder {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	border-radius: 50%;
	margin-bottom: 2rem;
}
