<footer>
    <div class="icons_container">
        <a href=""><img src="../media/facebook.svg" alt="Contact us on Facebook" class="icon"></a>
        <a href=""><img src="../media/twitter.svg" alt="Contact us on Twitter" class="icon"></a>
        <a><img src="../media/instagram.svg" alt="Contact us on Instagram" class="icon"></a>
        <a><img src="../media/discord.svg" alt="Join our Discord community" class="icon"></a>
        <a><img src="../media/github.svg" alt="Check out our GitHub" class="icon"></a>
        <a><img src="../media/gmail.svg" alt="Send us an Email" class="icon"></a>
        <a><img src="../media/message.svg" alt="Send us a message" class="icon"></a>
    </div>
    <div class="about">
        <a>ABOUT HILALI TECH</a>
        <a>ABOUT PROJECT BAGYO </a>
    </div>
</footer>