@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
	margin: 0;
	padding: 0;
}

#top-header {
	z-index: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.hero {
	display: flex;
	align-items: flex-end;
	margin-top: 15rem;
}

.hero h1 {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 144px;
	letter-spacing: 0.165em;
	display: inline-block;
	margin: 0;
}

.hero img {
	width: 12rem;
	margin-bottom: 2rem;
}

#downGuide {
	margin-bottom: 50%;
}

#map-info {
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#map {
	height: calc(100vh * 0.7);
	width: 100%;
	margin-bottom: 1.5rem;
}

#addMarker {
	width: 50%;
	font-family: Poppins;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1em;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.shad-and-rad {
	box-shadow: 5px 5px 2px 2px rgba(82, 82, 82, 0.2);
	border-radius: 20px;
}
